
*{
	box-sizing: border-box;
}

body{
	margin:0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;

}
h1{
	text-align: center;
	font-size: 175%;
	
}
.section{
	background-color: grey;
	border: 1px black solid;
	margin: 2%;
	padding: 0;
	float: left;
	
}
.section h2{
	text-align: center;
	margin-top: 0;
	padding: 1%;
	width:25%;
	float: right;
	border: 1px black solid;
	font-size: 125%;
	}
.one{
	background-color: Salmon;
}
.two{
	background-color: red;
	color: white;
}
.three{
	background-color: yellow;
}
p{
	
	margin:2%;
	clear: both
}


/*mobile view */
@media screen and (max-width: 767px ){
	.section{
		width: auto;
		margin: 2% 8%;
	}

}
/*Tablet View*/
@media screen and (max-width: 991px) and (min-width: 768px ){
	.section{
		width: 46%;
		
	}
	.section1{
		float: left;
	}
	.section2{
		float: right;
	}
	.section3{
		width: 96%;
	}
}

/*Desktop View view*/
@media screen and (min-width: 992px ){
	.section{
		width: 30%;
		float: left;
		margin: 1.6%;
	}

}